<div class="card-category mt-5" style="height: 250px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'cinema.jpg' %>'">
  Save any kind of movies
</div>

<%# <%= cl_image_tag "xpbbobcqeptilkttqln9", alt: "horreur" %>

<div class="container mt-5 d-flex justify-content-between">
  <h2>My lists</h2>
  <%= link_to "Create a movie list", new_list_path, class:"btn btn-flat" %>
</div>

<div class="container mb-4">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 mt-4">
      <%# !!! SUPPRIMER BACKGROUND-IMAGE DE CARD_CATEGORY !!! %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 180, crop: :fill %>')">
          <%= link_to list.name, list_path(list), class:"text-white text-decoration-none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
